# Data Wrangling Group Project

In [1]:
#install.packages("tidyverse")
#install.packages("skimr")
#install.packages("readr")
#install.packages("visdat")
library(skimr)
library(readr)
library(visdat)
library(tidyverse)
crash_df <-read_csv("https://raw.githubusercontent.com/zelta1990/crash_data_nz/main/Crash_data_chch.csv")
#crash_df <- read_csv("https://raw.githubusercontent.com/zelta1990/STAT422-Group-Project/main/Crash_data_chch.csv") #Load Crash_data_chch.csv as a dataframe
crash_df %>% head() #check initial dataset
crash_df %>% glimpse() #check column types
crash_df <- crash_df %>% filter(crashYear > 2011)  #only return records after 2012
#crash_df %>% skim() #quick data summary
#crash_df %>% vis_miss(large_data_size = 9e+07)#Visualise missing values

-- Attaching packages --------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.3.6      v dplyr   1.0.10
v tibble  3.1.8      v stringr 1.4.1
v tidyr   1.2.0      v forcats 0.5.1
v purrr   0.3.4
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Rows: 51903 Columns: 72
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (20): crashDirectionDescription, crashFinancialYear, crashLocation1, cra...
dbl (50): X, Y, OBJECTID, advisorySpeed, areaUnitID, bicycle, bridge, bus, c...
lgl  (2): crashRoadSideRoad, intersection

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X       Y       OBJECTID advisorySpeed areaUnitID bicycle bridge bus
1 1569263 5177269  2       NA            595000     0       NA     0
2 1554448 5181256  6       NA            587821     0        0     0
3 1572260 5180996  8       NA            593300     0       NA     0
4 1573557 5180808 16       NA            593600     0       NA     0
5 1573407 5180049 22       NA            593600     0       NA     0
6 1568675 5183354 27       NA            592100     0       NA     0
  carStationWagon cliffBank <U+22EF>        train tree truck unknownVehicleType urban
1 2               NA        <U+22EF> NA    NA   0     0                  Urban
2 1                0        <U+22EF>  0     0   0     0                  Open
3 2               NA        <U+22EF> NA    NA   0     0                  Urban
4 2               NA        <U+22EF> NA    NA   0     0                  Urban
5 1               NA        <U+22EF> NA    NA   0     0                  Urban
6 3               NA        <U+22EF> NA    NA   0     0                  Urban
  vanOrUtility vehicle waterRiver weatherA   weatherB
1 0            NA      NA         Fine       Null
2 0             0       1         Light rain Null
3 0            NA      NA         Fine       Null
4 0            NA      NA         Fine       Null
5 1            NA      NA         Heavy rain Null
6 0            NA      NA         Fine       Null

Rows: 51,903
Columns: 72
$ X                         <dbl> 1569263, 1554448, 1572260, 1573557, 1573407,~
$ Y                         <dbl> 5177269, 5181256, 5180996, 5180808, 5180049,~
$ OBJECTID                  <dbl> 2, 6, 8, 16, 22, 27, 30, 36, 37, 38, 44, 46,~
$ advisorySpeed             <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, ~
$ areaUnitID                <dbl> 595000, 587821, 593300, 593600, 593600, 5921~
$ bicycle                   <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ bridge                    <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ bus                       <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ carStationWagon           <dbl> 2, 1, 2, 2, 1, 3, 2, 1, 2, 2, 2, 2, 1, 0, 1,~
$ cliffBank                 <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ crashDirectionDescription <chr> "East", "West", "North", "Null", "Null", "No~
$ crashFinancialYear        <chr> "1999/2000", "1999/2000", "2000/2001", "2000~
$ crashLocation1            <chr> "Z CPK BARRINGTON MALL", "SH 73", "STANMORE ~
$ crashLocation2            <chr> "BARRINGTON ST", "KIRK ROAD", "DRAPER ST", "~
$ crashRoadSideRoad         <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, ~
$ crashSeverity             <chr> "Non-Injury Crash", "Non-Injury Crash", "Non~
$ crashSHDescription        <chr> "No", "Yes", "No", "No", "No", "No", "No", "~
$ crashYear                 <dbl> 2000, 2000, 2000, 2000, 2000, 2000, 2000, 20~
$ debris                    <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ directionRoleDescription  <chr> "North", "East", "South", "West", "East", "N~
$ ditch                     <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ fatalCount                <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ fence                     <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ flatHill                  <chr> "Flat", "Flat", "Flat", "Flat", "Flat", "Fla~
$ guardRail                 <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ holiday                   <chr> NA, NA, NA, NA, NA, NA, NA, NA, "Labour Week~
$ houseOrBuilding           <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ intersection              <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, ~
$ kerb                      <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ light                     <chr> "Bright sun", "Dark", "Overcast", "Bright su~
$ meshblockId               <dbl> 2643200, 2494500, 2692703, 2611800, 2612502,~
$ minorInjuryCount          <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ moped                     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ motorcycle                <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ NumberOfLanes             <dbl> 0, 2, 2, 2, 3, 2, 0, 2, 2, 4, 2, 2, 2, 2, 2,~
$ objectThrownOrDropped     <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ otherObject               <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ otherVehicleType          <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ overBank                  <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ parkedVehicle             <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ pedestrian                <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, ~
$ phoneBoxEtc               <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ postOrPole                <dbl> NA, 0, NA, NA, NA, NA, NA, 1, NA, NA, NA, NA~
$ region                    <chr> "Canterbury Region", "Canterbury Region", "C~
$ roadCharacter             <chr> "Nil", "Nil", "Nil", "Nil", "Nil", "Nil", "N~
$ roadLane                  <chr> "Off road", "2-way", "2-way", "2-way", "2-wa~
$ roadSurface               <chr> "Sealed", "Unsealed", "Sealed", "Sealed", "S~
$ roadworks                 <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ schoolBus                 <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ seriousInjuryCount        <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ slipOrFlood               <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ speedLimit                <dbl> 30, 100, 50, 50, 50, 50, 30, 50, 50, 60, 50,~
$ strayAnimal               <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ streetLight               <chr> "Null", "None", "Null", "Null", "Null", "Nul~
$ suv                       <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ taxi                      <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ temporarySpeedLimit       <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, ~
$ tlaId                     <dbl> 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, ~
$ tlaName                   <chr> "Christchurch City", "Christchurch City", "C~
$ trafficControl            <chr> "Unknown", "Unknown", "Nil", "Traffic Signal~
$ trafficIsland             <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ trafficSign               <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ train                     <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ tree                      <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ truck                     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ unknownVehicleType        <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ urban                     <chr> "Urban", "Open", "Urban", "Urban", "Urban", ~
$ vanOrUtility              <dbl> 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,~
$ vehicle                   <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ waterRiver                <dbl> NA, 1, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA~
$ weatherA                  <chr> "Fine", "Light rain", "Fine", "Fine", "Heavy~
$ weatherB                  <chr> "Null", "Null", "Null", "Null", "Null", "Nul~

In [2]:
#Calculate the count of accidents at one location for each year
count_df <- crash_df %>% 
                filter(crashSeverity == "Serious Crash" | crashSeverity == "Fatal Crash" ) %>%
                count(crashLocation1, crashLocation2, crashYear,sort=TRUE) 
#Rank each location by accident count for each year
all_year = list()
for(i in unique(crash_df$crashYear))
{
    year_df <- count_df %>% 
                    filter(crashYear == i ) %>% 
                    arrange(desc(n)) 
    all_year[[i]] <- year_df
}
all_year_df <- bind_rows(all_year)
all_year_df %>% head()
#Using 2021 as an example
#all_year_df %>% filter(crashYear == '2021')

  crashLocation1 crashLocation2     crashYear n
1 SH 74          RADCLIFFE ROAD     2012      3
2 MERRIN ST      WITHELLS ROAD      2012      2
3 SH 75          KINLOCH ROAD S     2012      2
4 SH 76          COLOMBO ST         2012      2
5 BARBADOES ST   MOORHOUSE AVENUE   2012      1
6 BARRINGTON ST  BARRINGTON OFF WBD 2012      1

In [3]:
#    Title: NZTM-WGS84(NZGD2000) converter
#    Author: mkennedy
#    Date: Feb 16, 2012 at 2:32
#    Availability: https://gis.stackexchange.com/questions/20389/converting-nzmg-or-nztm-to-latitude-longitude-for-use-with-r-map-library/20401#20401

#install.packages("proj4")
library(proj4)
get_lat_lon <- function(x,y)
{
    proj4string <- "+proj=tmerc +lat_0=0 +lon_0=173 +k=0.9996 +x_0=1600000 +y_0=10000000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs"
    #proj4string <- "+proj=tmerc +lat_0=0.0 +lon_0=173.0 +k=0.9996 +x_0=1600000.0 +y_0=10000000.0 +datum=WGS84 +units=m"
    # Source data
    xy <- data.frame(x, y)

    # Transformed data
    pj <- project(xy, proj4string, inverse=TRUE)
    latlon <- data.frame(lat=pj$y, lon=pj$x)
    return(latlon)
}
# an example
lat_lon <- get_lat_lon(1562170,5178795)
lat_lon

  lat       lon
1 -43.54283 172.5317

In [4]:
#Calculate the accumulative count of serious or fatal accidents at one location over ten years and return locations with count > 1
count_all_year_df <- crash_df %>% 
                filter(crashSeverity == "Serious Crash" | crashSeverity == "Fatal Crash" ) %>%
                count(crashLocation1, crashLocation2,sort=TRUE) 
count_all_year_df <- count_all_year_df %>%
                        filter(n > 1) #only return locations with accident count > 1
count_all_year_df %>% head()

  crashLocation1    crashLocation2 n
1 GEBBIES PASS ROAD SUMMIT ROAD    9
2 DYERS PASS ROAD   SUMMIT ROAD    7
3 SH 74             RADCLIFFE ROAD 7
4 DYERS PASS ROAD   CENTAURUS ROAD 6
5 HILLS ROAD        SHIRLEY ROAD   6
6 SH 74             MARSHLAND ROAD 6

In [5]:
#Join count_all_year_df with original crash_df to return details for locations that had repeated accidents 
target_df <- inner_join(crash_df, count_all_year_df %>% 
                select(-3), by = c('crashLocation1', 'crashLocation2')) %>%
                filter(crashSeverity == "Serious Crash" | crashSeverity == "Fatal Crash" ) %>% 
                mutate(lat = get_lat_lon(X,Y)$lat, lon=get_lat_lon(X,Y)$lon)
                    
target_df %>% head()

  X       Y       OBJECTID advisorySpeed areaUnitID bicycle bridge bus
1 1572933 5184220 129062   NA            592702     0        0     0
2 1570500 5178327 129113   NA            594600     0       NA     0
3 1574466 5184474 129153   NA            590505     0       NA     0
4 1563005 5181023 129372   NA            587812     0       NA     0
5 1568560 5178680 130297   NA            594700     1       NA     0
6 1569953 5174972 130609   NA            591101     1       NA     0
  carStationWagon cliffBank <U+22EF>        truck unknownVehicleType urban
1 1                0        <U+22EF> 0     0                  Urban
2 2               NA        <U+22EF> 0     0                  Urban
3 1               NA        <U+22EF> 0     0                  Urban
4 1               NA        <U+22EF> 0     0                  Urban
5 1               NA        <U+22EF> 0     0                  Urban
6 1               NA        <U+22EF> 0     0                  Urban
  vanOrUtility vehicle waterRiver weatherA weatherB lat       lon
1 0             0       0         Fine     Null     -43.49446 172.6652
2 1            NA      NA         Fine     Null     -43.54742 172.6348
3 0            NA      NA         Fine     Null     -43.49222 172.6842
4 0            NA      NA         Fine     Null     -43.52282 172.5422
5 0            NA      NA         Fine     Null     -43.54417 172.6108
6 0            NA      NA         Fine     Null     -43.57761 172.6279

In [17]:
#Calculate frequency for factor columns
col_freq_df <- target_df %>% select(-c(X,Y,OBJECTID, areaUnitID,crashFinancialYear,crashDirectionDescription,crashLocation1,crashLocation2,crashRoadSideRoad,crashSeverity,
                                        crashYear,debris,directionRoleDescription,ditch,fatalCount,fence,houseOrBuilding,intersection,meshblockId,minorInjuryCount,
                                        objectThrownOrDropped,otherObject,otherVehicleType,overBank,parkedVehicle,pedestrian,phoneBoxEtc,postOrPole,region,roadCharacter,
                                        schoolBus,seriousInjuryCount,suv,taxi,tlaId,tlaName,unknownVehicleType,lat,lon))
all_columns = list()
for(i in 1:ncol(col_freq_df))
{
    df <- col_freq_df[i]
    df
    new_df <- df %>%
                group_by(df[1]) %>%
                tally() %>%
                mutate(percent=round(100*n/sum(n))) %>%
                arrange(desc(percent)) 
    colnames(new_df)[1] <- "value"  
    colnames(new_df)[2] <- "count"         
    new_df <- cbind(name = colnames(col_freq_df[i]), new_df)
    new_df$value <- as.character(new_df$value)
    all_columns[[i]] <- new_df
}
all_col_freq_df <- bind_rows(all_columns)
all_col_freq_df %>% head()
all_columns

  name          value count percent
1 advisorySpeed NA    489   96
2 advisorySpeed 35      8    2
3 advisorySpeed 45      4    1
4 advisorySpeed 65      3    1
5 advisorySpeed 20      1    0
6 advisorySpeed 25      2    0

[[1]]
           name value count percent
1 advisorySpeed  <NA>   489      96
2 advisorySpeed    35     8       2
3 advisorySpeed    45     4       1
4 advisorySpeed    65     3       1
5 advisorySpeed    20     1       0
6 advisorySpeed    25     2       0
7 advisorySpeed    30     1       0

[[2]]
     name value count percent
1 bicycle     0   406      80
2 bicycle     1    98      19
3 bicycle     2     3       1
4 bicycle     4     1       0

[[3]]
    name value count percent
1 bridge  <NA>   389      77
2 bridge     0   119      23

[[4]]
  name value count percent
1  bus     0   495      97
2  bus     1    13       3

[[5]]
             name value count percent
1 carStationWagon     1   285      56
2 carStationWagon     0   147      29
3 carStationWagon     2    66      13
4 carStationWagon     3     7       1
5 carStationWagon     4     2       0
6 carStationWagon     5     1       0

[[6]]
       name value count percent
1 cliffBank  <NA>   389      77
2 cliffBank     0   101      20
3 cliffBank     1    17       3
4 cliffBank     2     1       0

[[7]]
                name value count percent
1 crashSHDescription    No   390      77
2 crashSHDescription   Yes   118      23

[[8]]
      name     value count percent
1 flatHill      Flat   442      87
2 flatHill Hill Road    65      13
3 flatHill      Null     1       0

[[9]]
       name value count percent
1 guardRail  <NA>   389      77
2 guardRail     0   113      22
3 guardRail     1     6       1

[[10]]
     name              value count percent
1 holiday               <NA>   487      96
2 holiday Christmas New Year    14       3
3 holiday     Labour Weekend     3       1
4 holiday    Queens Birthday     3       1
5 holiday             Easter     1       0

[[11]]
  name value count percent
1 kerb  <NA>   389      77
2 kerb     0   117      23
3 kerb     1     2       0

[[12]]
   name      value count percent
1 light Bright sun   241      47
2 light       Dark   132      26
3 light   Overcast   115      23
4 light   Twilight    19       4
5 light    Unknown     1       0

[[13]]
   name value count percent
1 moped     0   486      96
2 moped     1    22       4

[[14]]
        name value count percent
1 motorcycle     0   420      83
2 motorcycle     1    83      16
3 motorcycle     2     5       1

[[15]]
           name value count percent
1 NumberOfLanes     2   361      71
2 NumberOfLanes     4    73      14
3 NumberOfLanes     3    35       7
4 NumberOfLanes     6    18       4
5 NumberOfLanes     5    10       2
6 NumberOfLanes     1     6       1
7 NumberOfLanes  <NA>     4       1
8 NumberOfLanes     7     1       0

[[16]]
      name    value count percent
1 roadLane    2-way   459      90
2 roadLane    1-way    47       9
3 roadLane Off road     2       0

[[17]]
         name    value count percent
1 roadSurface   Sealed   506     100
2 roadSurface Unsealed     2       0

[[18]]
       name value count percent
1 roadworks  <NA>   389      77
2 roadworks     0   118      23
3 roadworks     1     1       0

[[19]]
         name value count percent
1 slipOrFlood  <NA>   389      77
2 slipOrFlood     0   119      23

[[20]]
        name value count percent
1 speedLimit    50   261      51
2 speedLimit    60    88      17
3 speedLimit   100    55      11
4 speedLimit    80    50      10
5 speedLimit    70    45       9
6 speedLimit    30     5       1
7 speedLimit    40     2       0
8 speedLimit  <NA>     2       0

[[21]]
         name value count percent
1 strayAnimal  <NA>   389      77
2 strayAnimal     0   119      23

[[22]]
         name value count percent
1 streetLight  Null   262      52
2 streetLight    On   125      25
3 streetLight   Off    77      15
4 streetLight  None    44       9

[[23]]
                 name value count percent
1 temporarySpeedLimit  <NA>   493      97
2 temporarySpeedLimit    30     8       2
3 temporarySpeedLimit    60     4       1
4 temporarySpeedLimit    10     1       0
5 temporarySpeedLimit    50     2       0

[[24]]
            name           value count percent
1 trafficControl         Unknown   157      31
2 trafficControl Traffic Signals   131      26
3 trafficControl             Nil    98      19
4 trafficControl        Give way    89      18
5 trafficControl            Stop    33       6

[[25]]
           name value count percent
1 trafficIsland  <NA>   389      77
2 trafficIsland     0   112      22
3 trafficIsland     1     7       1

[[26]]
         name value count percent
1 trafficSign  <NA>   389      77
2 trafficSign     0   108      21
3 trafficSign     1    11       2

[[27]]
   name value count percent
1 train  <NA>   389      77
2 train     0   119      23

[[28]]
  name value count percent
1 tree  <NA>   389      77
2 tree     0   100      20
3 tree     1    19       4

[[29]]
   name value count percent
1 truck     0   469      92
2 truck     1    34       7
3 truck     2     5       1

[[30]]
   name value count percent
1 urban Urban   403      79
2 urban  Open   105      21

[[31]]
          name value count percent
1 vanOrUtility     0   429      84
2 vanOrUtility     1    76      15
3 vanOrUtility     2     3       1

[[32]]
     name value count percent
1 vehicle  <NA>   389      77
2 vehicle     0   117      23
3 vehicle     1     2       0

[[33]]
        name value count percent
1 waterRiver  <NA>   389      77
2 waterRiver     0   118      23
3 waterRiver     1     1       0

[[34]]
      name       value count percent
1 weatherA        Fine   447      88
2 weatherA  Light rain    39       8
3 weatherA  Heavy rain    11       2
4 weatherA Mist or Fog     8       2
5 weatherA        Null     3       1

[[35]]
      name       value count percent
1 weatherB        Null   498      98
2 weatherB       Frost     3       1
3 weatherB Strong wind     7       1

In [8]:
# Find number of changes to variables over 10 years. These will be the number of unique values for a specific variable for each crash location 1 and 2

# Number of changes for advisory speed
advsspeed_changes <- target_df  %>% group_by(crashLocation1,crashLocation2)  %>%  summarise(num_advsspeed = length(unique(advisorySpeed)))
arrange(advsspeed_changes , desc(advsspeed_changes$num_advsspeed))  %>%  head(n=10)

# Check manually

check_df <- target_df  %>% filter(crashLocation1 == 'DYERS PASS ROAD' & crashLocation2 == 'SUMMIT ROAD')  %>%  select(crashLocation1,crashLocation2,advisorySpeed,crashSeverity)
check_df

# Number of changes for weatherA
weather_changes <- target_df  %>% group_by(crashLocation1,crashLocation2)  %>%  summarise(num_weather = length(unique(weatherA)))
arrange(weather_changes , desc(weather_changes$num_weather))  %>%  head(n=10)

# Check manually

check_df2 <- target_df  %>% filter(crashLocation1 == 'MARSHS ROAD' & crashLocation2 == 'FOUNTAINS ROAD')  %>%  select(crashLocation1,crashLocation2,weatherA)
check_df2

`summarise()` has grouped output by 'crashLocation1'. You can override using
the `.groups` argument.

   crashLocation1           crashLocation2     num_advsspeed
1  GOVERNORS BAY TEDDINGTON ALLANDALE LANE     3
2  CHRISTCHURCH AKAROA ROAD CATONS CV          2
3  DYERS PASS ROAD          CENTAURUS ROAD     2
4  DYERS PASS ROAD          HACKTHORNE ROAD    2
5  DYERS PASS ROAD          PENTRE TERRACE     2
6  DYERS PASS ROAD          SUMMIT ROAD        2
7  EVANS PASS ROAD          OCEAN VIEW TERRACE 2
8  GOVERNORS BAY ROAD       SANDY BEACH ROAD   2
9  MARSHS ROAD              FOUNTAINS ROAD     2
10 SH 75                    HILLTOP HOTEL      2

  crashLocation1  crashLocation2 advisorySpeed crashSeverity
1 DYERS PASS ROAD SUMMIT ROAD    NA            Fatal Crash
2 DYERS PASS ROAD SUMMIT ROAD    35            Fatal Crash
3 DYERS PASS ROAD SUMMIT ROAD    NA            Serious Crash
4 DYERS PASS ROAD SUMMIT ROAD    NA            Serious Crash
5 DYERS PASS ROAD SUMMIT ROAD    NA            Fatal Crash
6 DYERS PASS ROAD SUMMIT ROAD    NA            Serious Crash
7 DYERS PASS ROAD SUMMIT ROAD    NA            Fatal Crash

`summarise()` has grouped output by 'crashLocation1'. You can override using
the `.groups` argument.

   crashLocation1  crashLocation2    num_weather
1  DYERS PASS ROAD SUMMIT ROAD       3
2  FERRY ROAD      FITZGERALD AVENUE 3
3  SH 74           MARSHLAND ROAD    3
4  SH 74           RADCLIFFE ROAD    3
5  ALDWINS ROAD    LINWOOD AVENUE    2
6  AVONSIDE DRIVE  TRENT ST          2
7  AWATEA ROAD     SPRINGS ROAD      2
8  BARBADOES ST    COVENTRY ST       2
9  BLENHEIM ROAD   WHARENUI ROAD     2
10 COLOMBO ST      TUAM ST           2

  crashLocation1 crashLocation2 weatherA
1 MARSHS ROAD    FOUNTAINS ROAD Heavy rain
2 MARSHS ROAD    FOUNTAINS ROAD Mist or Fog

In [15]:
#Plotting interactive map using leaflet
#install.packages("sp")
#install.packages("htmlwidgets")
#install.packages("IRdisplay")
#install.packages("leaflet.extras2")
#install.packages("lubridate")
#install.packages("crosstalk")
#install.packages("sf")
library(sp)
library(leaflet)
library(htmlwidgets)
library(IRdisplay)
library(leaflet.extras2)
library(crosstalk)
library(sf)
#library(lubridate)

df <- as.data.frame(target_df %>%
        select(lat,lon,trafficControl,crashYear) )
df %>% head()
#df <- na.omit(df)
event_palette <- colorFactor( palette="RdYlBu", domain=NULL, na.color="transparent")

# Prepare the text for the tooltip:
hover_text <- paste(
   "TrafficControl: ", df$trafficControl, "<br/>",
   "Latitude: ", df$lat, "<br/>",
   "Longitude: ", df$lon, "<br/>") %>%
  lapply(htmltools::HTML)

m <- leaflet(df) %>% 
  addTiles()  %>% 
  # addTimeslider(data = df,
  #            options = timesliderOptions(
  #              position = "topright",
  #              timeAttribute = "crashYear",
  #              range = TRUE)) %>%
  setView( lat=-43.5, lng=172.6 , zoom=10) %>%
  addCircleMarkers(~lon, ~lat, 
    fillColor = ~event_palette(trafficControl), fillOpacity = 0.7, color="#af4343", radius=8, stroke=FALSE,
    label = hover_text,
    clusterOptions = markerClusterOptions(),
    labelOptions = labelOptions( style = list("font-weight" = "normal", padding = "3px 8px"), textsize = "13px", direction = "auto")
  ) %>%
  addLegend(pal=event_palette, values=~trafficControl, opacity=0.9, title = "trafficControl", position = "bottomright" )
saveWidget(m, 'crash_data.html', selfcontained = FALSE)
print("See crash_data.html in current directory")
#display_html('<iframe src="crash_data.html" width=1000, height=1000></iframe>')

  lat       lon      trafficControl  crashYear
1 -43.49446 172.6652 Give way        2012
2 -43.54742 172.6348 Unknown         2013
3 -43.49222 172.6842 Traffic Signals 2013
4 -43.52282 172.5422 Give way        2013
5 -43.54417 172.6108 Give way        2013
6 -43.57761 172.6279 Nil             2013

[1] "See crash_data.html in current directory"

In [19]:
#Plotting interactive map using leaflet
#install.packages("shiny")
#install.packages("RColorBrewer")
#install.packages("sp")
#install.packages("htmlwidgets")
#install.packages("IRdisplay")
#install.packages("leaflet.extras2")
library(sp)
library(leaflet)
library(htmlwidgets)
library(IRdisplay)
library(leaflet.extras2)
library(shiny)
library(RColorBrewer)
d <- as.data.frame(target_df %>%
        select(lat,lon,crashLocation1, crashLocation2,crashYear,trafficControl,light,advisorySpeed,bicycle,cliffBank,flatHill,guardRail,motorcycle,NumberOfLanes,
        roadLane,speedLimit,streetLight,trafficIsland,weatherA,weatherB)) 
d <- replace(d, is.na(d), "Unknown")

camera_d <- read.csv("https://raw.githubusercontent.com/zelta1990/STAT422-Group-Project/nzta-camera/cameras.csv") %>%
            filter(region == "Christchurch" | region == "Canterbury")
camera_d$lat <- as.numeric(camera_d$lat)
camera.icon <- makeIcon("https://img.icons8.com/ios/50/000000/camera--v1.png",iconWidth = 20, iconHeight = 20)

ui <- bootstrapPage("Interactive Map",
                 tags$style(type = "text/css", "html, body {width:100%;height:100%}"),
                 leafletOutput("m", height=700),
                absolutePanel( id = "controls",  class="panel panel-default",
                              fixed =TRUE, draggable = TRUE, top=20, left=40,
                              right=20, bottom =20, width=310, height=100,
                              sliderInput("year",
                                          "Year",
                                          min=min(d$crashYear),
                                          max=max(d$crashYear),
                                          value=range(d$crashYear),
                                          step=1, sep=""),
                              selectInput("layer","Select a layer: ", c("trafficControl","light","advisorySpeed","bicycle","cliffBank","flatHill","guardRail","motorcycle","NumberOfLanes",
                                          "roadLane","speedLimit","streetLight","trafficIsland","weatherA","weatherB"))
                              ))
server <- function(input, output, session){
  
  filteredData <- reactive({
    d[d$crashYear >= input$year[1] & d$crashYear <= input$year[2],]
  })
  d_colour <- colorFactor( palette="RdYlBu", domain=NULL, na.color="transparent")
  
  output$m <- renderLeaflet({
    
    leaflet(d) %>% 
      setView( lat=-43.5, lng=172.6 , zoom=10) %>%
      addTiles() %>% 
      addMarkers(lng = camera_d$lon, lat = camera_d$lat, 
                icon = camera.icon,
                popup = paste0("<img src = ", camera_d$imageUrl, " width = 200 >"))%>%
      addCircleMarkers(~d$lon, ~d$lat, 
        fillColor = ~d_colour(d$trafficControl), fillOpacity = 0.7, color="#af4343", radius=8, stroke=FALSE,
        popup=paste0("<br>trafficControl:",d$trafficControl,"<br>lat:", d$lat, "<br>lon:", d$lon,"<br>year:", d$crashYear,"<br>location1:", d$crashLocation1,"<br>location2:", d$crashLocation2 ),
        clusterOptions = markerClusterOptions(),
        group="traffic control"
      ) %>%
      addLegend(pal=d_colour, values=~trafficControl, opacity=0.9, title = "trafficControl", position = "bottomright")
    })
  
  d_colour <-colorFactor( palette="RdYlBu", domain=NULL, na.color="transparent")
  observe({
   
    filtered = filteredData
    leafletProxy("m", data=filteredData()) %>% 
      clearControls() %>%
      clearMarkerClusters()%>%
      addMarkers(lng = camera_d$lon, lat = camera_d$lat, 
            icon = camera.icon,
            popup = paste0("<img src = ", camera_d$imageUrl, " width = 200 >"))%>%
      addCircleMarkers(~lon, ~lat, 
        fillColor = ~d_colour(filteredData()[,input$layer]), fillOpacity = 0.7, color="#af4343", radius=8, stroke=FALSE,
        popup=~paste0("<br>",input$layer,":",filteredData()[,input$layer],"<br>lat:", lat, "<br>lon:", lon,"<br>year:", crashYear ),
        clusterOptions = markerClusterOptions(),
        group=input$layer
       ) %>%
       addLegend(pal=d_colour, values=filteredData()[,input$layer], opacity=0.9, title = input$layer, position = "bottomright")#%>%
  } )
}

shinyApp(ui, server)

Listening on http://127.0.0.1:7749

In [10]:
camera_d <- read.csv("https://raw.githubusercontent.com/zelta1990/STAT422-Group-Project/nzta-camera/cameras.csv") 

camera_d$lat <- as.numeric(camera_d$lat)
camera_d

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

    lat       lon      imageUrl
1   -43.91963 171.7211 http://www.trafficnz.info/camera/714.jpg
2   -36.60327 174.6617 http://www.trafficnz.info/camera/651.jpg
3   -36.90943 174.7344 http://www.trafficnz.info/camera/653.jpg
4   -36.87173 174.7102 http://www.trafficnz.info/camera/654.jpg
5   -36.87200 174.7048 http://www.trafficnz.info/camera/655.jpg
6   -36.68572 174.7012 http://www.trafficnz.info/camera/723.jpg
7   -36.87005 174.6736 http://www.trafficnz.info/camera/697.jpg
8   -36.87159 174.6993 http://www.trafficnz.info/camera/686.jpg
9   -36.86587 174.6662 http://www.trafficnz.info/camera/687.jpg
10  -36.87211 174.6897 http://www.trafficnz.info/camera/688.jpg
11  -36.86056 174.6609 http://www.trafficnz.info/camera/689.jpg
12  -36.81900 174.6140 http://www.trafficnz.info/camera/270.jpg
13  -36.81300 174.6120 http://www.trafficnz.info/camera/271.jpg
14  -36.86900 174.7460 http://www.trafficnz.info/camera/130.jpg
15  -36.87200 174.7060 http://www.trafficnz.info/camera/140.jpg
16  -36.85800 174.6530 http://www.trafficnz.info/camera/150.jpg
17  -36.84900 174.6320 http://www.trafficnz.info/camera/160.jpg
18  -36.84700 174.6300 http://www.trafficnz.info/camera/170.jpg
19  -36.78200 174.6780 http://www.trafficnz.info/camera/171.jpg
20  -36.75700 174.7030 http://www.trafficnz.info/camera/172.jpg
21  -36.77800 174.6810 http://www.trafficnz.info/camera/173.jpg
22  -36.75300 174.7140 http://www.trafficnz.info/camera/174.jpg
23  -36.77100 174.6860 http://www.trafficnz.info/camera/175.jpg
24  -36.76500 174.6910 http://www.trafficnz.info/camera/176.jpg
25  -36.78600 174.6620 http://www.trafficnz.info/camera/177.jpg
26  -36.76300 174.7000 http://www.trafficnz.info/camera/178.jpg
27  -36.79100 174.6550 http://www.trafficnz.info/camera/70.jpg
28  -36.80800 174.6210 http://www.trafficnz.info/camera/221.jpg
29  -36.80500 174.6280 http://www.trafficnz.info/camera/222.jpg
30  -36.80000 174.6380 http://www.trafficnz.info/camera/223.jpg
<U+22EE>   <U+22EE>  <U+22EE> <U+22EE>
260 -37.87939 175.9274 http://www.trafficnz.info/camera/753.jpg
261 -39.26403 175.3926 http://www.trafficnz.info/camera/784.jpg
262 -40.97123 174.9830 http://www.trafficnz.info/camera/787.jpg
263 -40.98268 174.9707 http://www.trafficnz.info/camera/789.jpg
264 -41.11331 174.9185 http://www.trafficnz.info/camera/790.jpg
265 -41.11217 174.9178 http://www.trafficnz.info/camera/791.jpg
266 -41.13214 174.9012 http://www.trafficnz.info/camera/792.jpg
267 -41.13179 174.9000 http://www.trafficnz.info/camera/793.jpg
268 -41.15187 174.8449 http://www.trafficnz.info/camera/794.jpg
269 -41.20575 174.8184 http://www.trafficnz.info/camera/795.jpg
270 -41.20450 174.8214 http://www.trafficnz.info/camera/796.jpg
271 -41.24807 174.8136 http://www.trafficnz.info/camera/282.jpg
272 -40.76246 175.1555 http://www.trafficnz.info/camera/233.jpg
273 -41.22795 174.8081 http://www.trafficnz.info/camera/226.jpg
274 -41.23188 174.8095 http://www.trafficnz.info/camera/227.jpg
275 -41.24100 174.8090 http://www.trafficnz.info/camera/228.jpg
276 -41.27629 174.7731 http://www.trafficnz.info/camera/230.jpg
277 -41.22400 174.8600 http://www.trafficnz.info/camera/232.jpg
278 -41.17768 174.8300 http://www.trafficnz.info/camera/277.jpg
279 -41.20300 174.9070 http://www.trafficnz.info/camera/278.jpg
280 -41.18994 174.9299 http://www.trafficnz.info/camera/722.jpg
281 -41.02875 174.8994 http://www.trafficnz.info/camera/719.jpg
282 -41.05761 174.8760 http://www.trafficnz.info/camera/720.jpg
283 -40.99974 174.9397 http://www.trafficnz.info/camera/279.jpg
284 -41.08300 174.8690 http://www.trafficnz.info/camera/280.jpg
285 -41.10563 174.8686 http://www.trafficnz.info/camera/637.jpg
286 -43.46695 170.0173 http://www.trafficnz.info/camera/662.jpg
287 -44.01168 169.3818 http://www.trafficnz.info/camera/738.jpg
288 -43.38893 170.1820 http://www.trafficnz.info/camera/664.jpg
289 -43.85950 169.0448 http://www.trafficnz.info/camera/745.jpg
    description
1   South along Hinds Highway from Lagmhor Rd
2   South along Nthn Mwy from Wainui Rd
3   North along Sth Wstn Mwy from May Rd
4   East along Nth Wstn Mwy from Carrington Rd
5   South from Nth Wstn Mwy to Waterview Tunnel
6   South along Nthn Mwy in Redvale area
7   South along Nth Wstn Mwy from Rosebank Rd
8   North along the Nth Wstn Mwy Causeway
9   North along Nth Wstn Mwy from Patiki Rd
10  North along the Nth Wstn Mwy Causeway
11  South along Nth Wstn Mwy towards Patiki Rd
12  South along Nth Wstn Mwy from Hobsonville Rd
13  North along Nth Wstn Mwy towards Kumeu
14  West along Nth Wstn Mwy from Bond St
15  East along Nth Wstn Mwy from Gt North Rd
16  South along Nth Wstn Mwy from Te Atatu Rd
17  South along Nth Wstn Mwy from Lincoln Rd
18  North along Nth Wstn Mwy from Lincoln Rd
19  West along Upper Hbr Mwy from Tauhinu Rd
20  East along Upper Hbr Mwy from Albany Hwy
21  West along Upper Hbr Mwy towards Tauhinu Rd Overbridge
22  East along Upper Hbr Mwy towards Paul Matthews Rd
23  East along Upper Hbr Mwy from Greenhithe Rd
24  East along Upper Hbr Mwy from Schnapper Rock
25  East along Upper Hbr Mwy towards Upper Hbr Bridge
26  West along Upper Hbr Mwy from Cuthill
27  East along Upper Hbr Mwy from Squadron Dr
28  West along Upper Hbr Mwy from Trig Rd
29  West along Upper Hbr Mwy towards Trig Rd
30  West along Brigham Creek Rd towards Whenuapai
<U+22EE>   <U+22EE>
260 SH29 Kaimai Lookout Westbound
261 SH4 Makatote Viaduct
262 South along Transmission Gully Mwy from Mackays Crossing Interchange
263 South along Transmission Gully Mwy from Paekakariki Interchange
264 South along Transmission Gully Mwy from SH58  Pauatahanui Interchange
265 North along Transmission Gully Mwy from SH58  Pauatahanui Interchange
266 South along Transmission Gully Mwy from Waitangirua Interchange
267 North along Transmission Gully Mwy from Waitangirua Interchange
268 South along Transmission Gully Mwy from Kenepuru Interchange
269 South along SH1 from Churton Park Interchange
270 North along SH1 from Churton Park Interchange
271 South along Urban Mwy from SH1/SH2 Interchange
272 North along SH1 at Otaki
273 South along SH1 from Johnsonville Off-ramp
274 South along SH1 from Newlands Rd
275 South along SH1 in the Ngauranga Gorge
276 North along Urban Mwy from Tinakori Rd On-ramp
277 South along SH2 from Petone Off-ramp
278 North along SH1 north of Tawa Interchange
279 South along SH2 at Melling Interchange
280 Looking south along SH2 toward Belmont
281 Looking north along SH59 toward Paekakariki
282 Looking north along SH59 toward Pukerua Bay
283 South along SH59 at Paekakariki
284 North along SH59 from Plimmerton Roundabout
285 South along SH59 from Paremata Roundabout
286 North along SH6 into Fox Glacier township
287 North towards SH6 from Pleasant Flat Campsitein Haast River Valley
288 North along SH6 in Franz Josef township
289 Looking North-Bound from Haast Junction to Haast River Bridge
    region
1   Ashburton
2   Auckland
3   Auckland
4   Auckland
5   Auckland
6   Auckland
7   Auckland
8   Auckland
9   Auckland
10  Auckland
11  Auckland
12  Auckland
13  Auckland
14  Auckland
15  Auckland
16  Auckland
17  Auckland
18  Auckland
19  Auckland
20  Auckland
21  Auckland
22  Auckland
23  Auckland
24  Auckland
25  Auckland
26  Auckland
27  Auckland
28  Auckland
29  Auckland
30  Auckland
<U+22EE>   <U+22EE>
260 Waikato
261 Waikato
262 Wellington
263 Wellington
264 Wellington
265 Wellington
266 Wellington
267 Wellington
268 Wellington
269 Wellington
270 Wellington
271 Wellington
272 Wellington
273 Wellington
274 Wellington
275 Wellington
276 Wellington
277 Wellington
278 Wellington
279 Wellington
280 Wellington
281 Wellington
282 Wellington
283 Wellington
284 Wellington
285 Wellington
286 West Coast
287 West Coast
288 West Coast
289 West Coast