# Data Wrangling Group Project

In [1]:
#install.packages("tidyverse")
#install.packages("skimr")
#install.packages("readr")
#install.packages("visdat")
library(skimr)
library(readr)
library(visdat)
library(tidyverse)

crash_df <- read_csv("https://raw.githubusercontent.com/zelta1990/STAT422-Group-Project/main/Crash_data_chch.csv") #Load Crash_data_chch.csv as a dataframe
crash_df %>% head() #check initial dataset
crash_df %>% glimpse() #check column types
crash_df <- crash_df %>% filter(crashYear > 2011) #only return records after 2012
#crash_df %>% skim() #quick data summary
#crash_df %>% vis_miss(large_data_size = 9e+07)#Visualise missing values

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ dplyr   1.0.10
✔ tibble  3.1.8      ✔ stringr 1.4.1
✔ tidyr   1.2.1      ✔ forcats 0.5.2
✔ purrr   0.3.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Rows: 51903 Columns: 72
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (20): crashDirectionDescription, crashFinancialYear, crashLocation1, cra...
dbl (50): X, Y, OBJECTID, advisorySpeed, areaUnitID, bicycle, bridge, bus, c...
lgl  (2): crashRoadSideRoad, intersection

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X       Y       OBJECTID advisorySpeed areaUnitID bicycle bridge bus
1 1569263 5177269  2       NA            595000     0       NA     0
2 1554448 5181256  6       NA            587821     0        0     0
3 1572260 5180996  8       NA            593300     0       NA     0
4 1573557 5180808 16       NA            593600     0       NA     0
5 1573407 5180049 22       NA            593600     0       NA     0
6 1568675 5183354 27       NA            592100     0       NA     0
  carStationWagon cliffBank ⋯ train tree truck unknownVehicleType urban
1 2               NA        ⋯ NA    NA   0     0                  Urban
2 1                0        ⋯  0     0   0     0                  Open
3 2               NA        ⋯ NA    NA   0     0                  Urban
4 2               NA        ⋯ NA    NA   0     0                  Urban
5 1               NA        ⋯ NA    NA   0     0                  Urban
6 3               NA        ⋯ NA    NA   0     0                  Urban
  vanOrUtility vehicle waterRiver weatherA   weatherB
1 0            NA      NA         Fine       Null
2 0             0       1         Light rain Null
3 0            NA      NA         Fine       Null
4 0            NA      NA         Fine       Null
5 1            NA      NA         Heavy rain Null
6 0            NA      NA         Fine       Null

Rows: 51,903
Columns: 72
$ X                         <dbl> 1569263, 1554448, 1572260, 1573557, 1573407,…
$ Y                         <dbl> 5177269, 5181256, 5180996, 5180808, 5180049,…
$ OBJECTID                  <dbl> 2, 6, 8, 16, 22, 27, 30, 36, 37, 38, 44, 46,…
$ advisorySpeed             <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ areaUnitID                <dbl> 595000, 587821, 593300, 593600, 593600, 5921…
$ bicycle                   <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ bridge                    <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ bus                       <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ carStationWagon           <dbl> 2, 1, 2, 2, 1, 3, 2, 1, 2, 2, 2, 2, 1, 0, 1,…
$ cliffBank                 <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ crashDirectionDescription <chr> "East", "West", "North", "Null", "Null", "No…
$ crashFinancialYear        <chr> "1999/2000", "1999/2000", "2000/2001", "2000…
$ crashLocation1            <chr> "Z CPK BARRINGTON MALL", "SH 73", "STANMORE …
$ crashLocation2            <chr> "BARRINGTON ST", "KIRK ROAD", "DRAPER ST", "…
$ crashRoadSideRoad         <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ crashSeverity             <chr> "Non-Injury Crash", "Non-Injury Crash", "Non…
$ crashSHDescription        <chr> "No", "Yes", "No", "No", "No", "No", "No", "…
$ crashYear                 <dbl> 2000, 2000, 2000, 2000, 2000, 2000, 2000, 20…
$ debris                    <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ directionRoleDescription  <chr> "North", "East", "South", "West", "East", "N…
$ ditch                     <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ fatalCount                <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ fence                     <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ flatHill                  <chr> "Flat", "Flat", "Flat", "Flat", "Flat", "Fla…
$ guardRail                 <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ holiday                   <chr> NA, NA, NA, NA, NA, NA, NA, NA, "Labour Week…
$ houseOrBuilding           <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ intersection              <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ kerb                      <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ light                     <chr> "Bright sun", "Dark", "Overcast", "Bright su…
$ meshblockId               <dbl> 2643200, 2494500, 2692703, 2611800, 2612502,…
$ minorInjuryCount          <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ moped                     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ motorcycle                <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ NumberOfLanes             <dbl> 0, 2, 2, 2, 3, 2, 0, 2, 2, 4, 2, 2, 2, 2, 2,…
$ objectThrownOrDropped     <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ otherObject               <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ otherVehicleType          <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ overBank                  <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ parkedVehicle             <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ pedestrian                <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ phoneBoxEtc               <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ postOrPole                <dbl> NA, 0, NA, NA, NA, NA, NA, 1, NA, NA, NA, NA…
$ region                    <chr> "Canterbury Region", "Canterbury Region", "C…
$ roadCharacter             <chr> "Nil", "Nil", "Nil", "Nil", "Nil", "Nil", "N…
$ roadLane                  <chr> "Off road", "2-way", "2-way", "2-way", "2-wa…
$ roadSurface               <chr> "Sealed", "Unsealed", "Sealed", "Sealed", "S…
$ roadworks                 <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ schoolBus                 <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ seriousInjuryCount        <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ slipOrFlood               <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ speedLimit                <dbl> 30, 100, 50, 50, 50, 50, 30, 50, 50, 60, 50,…
$ strayAnimal               <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ streetLight               <chr> "Null", "None", "Null", "Null", "Null", "Nul…
$ suv                       <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ taxi                      <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ temporarySpeedLimit       <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ tlaId                     <dbl> 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, …
$ tlaName                   <chr> "Christchurch City", "Christchurch City", "C…
$ trafficControl            <chr> "Unknown", "Unknown", "Nil", "Traffic Signal…
$ trafficIsland             <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ trafficSign               <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ train                     <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ tree                      <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ truck                     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ unknownVehicleType        <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ urban                     <chr> "Urban", "Open", "Urban", "Urban", "Urban", …
$ vanOrUtility              <dbl> 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,…
$ vehicle                   <dbl> NA, 0, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ waterRiver                <dbl> NA, 1, NA, NA, NA, NA, NA, 0, NA, NA, NA, NA…
$ weatherA                  <chr> "Fine", "Light rain", "Fine", "Fine", "Heavy…
$ weatherB                  <chr> "Null", "Null", "Null", "Null", "Null", "Nul…

In [3]:
#Calculate the count of accidents at one location for each year
count_df <- crash_df %>% 
                filter(crashSeverity == "Serious Crash" | crashSeverity == "Fatal Crash" ) %>%
                count(crashLocation1, crashLocation2, crashYear,sort=TRUE) 
#Rank each location by accident count for each year
all_year = list()
for(i in unique(crash_df$crashYear))
{
    year_df <- count_df %>% 
                    filter(crashYear == i ) %>% #only return locations with accident count > 1
                    arrange(desc(n)) 
    all_year[[i]] <- year_df
}
all_year_df <- bind_rows(all_year)
all_year_df
#Using 2021 as an example
#all_year_df %>% filter(crashYear == '2021')

     crashLocation1            crashLocation2         crashYear n
1    SH 74                     RADCLIFFE ROAD         2012      3
2    MERRIN ST                 WITHELLS ROAD          2012      2
3    SH 75                     KINLOCH ROAD S         2012      2
4    SH 76                     COLOMBO ST             2012      2
5    BARBADOES ST              MOORHOUSE AVENUE       2012      1
6    BARRINGTON ST             BARRINGTON OFF WBD     2012      1
7    BARRINGTON ST             JERROLD ST N           2012      1
8    BARRINGTON ST             KINVER PLACE           2012      1
9    BARRINGTON ST             NEVILLE ST             2012      1
10   BARRINGTON ST             SH 76 JERROLD ST S     2012      1
11   BELFAST ROAD              GUTHRIES ROAD          2012      1
12   BLENHEIM ROAD             ANNEX ROAD             2012      1
13   BLENHEIM ROAD             MATIPO ST              2012      1
14   BREEZES ROAD              DYERS ROAD             2012      1
15   BREEZES ROAD              HAMPSHIRE ST           2012      1
16   BRIGGS ROAD               EMMETT ST              2012      1
17   BROOKSIDE TERRACE         MURDOCH ST             2012      1
18   BUCHANANS ROAD            POUND ROAD             2012      1
19   BURLINGTON ST             SH 76                  2012      1
20   BURWOOD ROAD              MAIREHAU ROAD          2012      1
21   CASHMERE ROAD             HOON HAY ROAD          2012      1
22   CASHMERE ROAD             HOON HAY VALLEY ROAD   2012      1
23   CAVENDISH ROAD            STYX MILL ROAD         2012      1
24   CENTAURUS ROAD            ALBERT TERRACE         2012      1
25   CENTAURUS ROAD            PARKLANDS DRIVE        2012      1
26   CLARE ROAD                BRISTOL ST             2012      1
27   CLARIDGES ROAD            GARDINERS ROAD         2012      1
28   COLOMBO ST                CASHMERE ROAD          2012      1
29   COLOMBO ST                FISHER AVENUE          2012      1
30   CRANFORD ST               OXLEY AVENUE           2012      1
⋮    ⋮                         ⋮                      ⋮         ⋮
1548 MARSHLAND ROAD            PAGODA STREET          2022      1
1549 MCGREGORS ROAD            HAY STREET             2022      1
1550 MEMORIAL AVENUE           ROYDVALE AVENUE        2022      1
1551 NEW BRIGHTON ROAD         FLEETE STREET          2022      1
1552 NORTHCOTE ROAD            SAWYERS ARMS ROAD      2022      1
1553 NORWICH QUAY              SIMEON QUAY            2022      1
1554 OFF ROAD-Bellbird hearing NA                     2022      1
1555 OFF ROAD CARPARK          NA                     2022      1
1556 OFFROAD CARPARK           NA                     2022      1
1557 OPAWA ROAD                RAYCROFT STREET        2022      1
1558 PEER STREET               CURLETTS ROAD          2022      1
1559 PLYNLIMON ROAD            IDRIS ROAD             2022      1
1560 POUND ROAD                BUCHANANS ROAD         2022      1
1561 POUND ROAD                ROBERTS ROAD           2022      1
1562 RADCLIFFE ROAD            RAIL XING              2022      1
1563 RANDOLPH STREET           CRESSY LANE            2022      1
1564 SHANDS ROAD               HALSWELL JUNCTION ROAD 2022      1
1565 SHORTLAND STREET          MCHAFFIES PLACE        2022      1
1566 SLATER STREET             DUDLEY STREET          2022      1
1567 SOLEARES AVENUE           MCCORMACKS BAY ROAD    2022      1
1568 ST ANDREWS HILL ROAD      MARAMA CRESCENT        2022      1
1569 STANMORE ROAD             WARWICK STREET         2022      1
1570 SUMMIT ROAD               PIPERS VALLEY ROAD     2022      1
1571 SYD BRADLEY ROAD ON RAMP  SYD BRADLEY ROAD       2022      1
1572 WASHINGTON WAY            GASSON STREET          2022      1
1573 WEKA STREET               KIWI ROAD              2022      1
1574 WEST COAST ROAD           BUCHANANS ROAD         2022      1
1575 WEST COAST ROAD           DAWSONS ROAD           2022      1
1576 WIGRAM ROAD               HALSWELL JUNCTION ROAD 2022      1
1577 WITHELLS ROAD             BROOKBY CRESCENT       2022      1

In [4]:
#Calculate the accumulative count of serious or fatal accidents at one location over ten years and return locations with count > 1
count_all_year_df <- crash_df %>% 
                filter(crashSeverity == "Serious Crash" | crashSeverity == "Fatal Crash" ) %>%
                count(crashLocation1, crashLocation2,sort=TRUE) 
count_all_year_df <- count_all_year_df %>%
                        filter(n > 1) 
count_all_year_df

    crashLocation1           crashLocation2      n
1   GEBBIES PASS ROAD        SUMMIT ROAD         9
2   DYERS PASS ROAD          SUMMIT ROAD         7
3   SH 74                    RADCLIFFE ROAD      7
4   DYERS PASS ROAD          CENTAURUS ROAD      6
5   HILLS ROAD               SHIRLEY ROAD        6
6   SH 74                    MARSHLAND ROAD      6
7   GOVERNORS BAY ROAD       SANDY BEACH ROAD    5
8   CHRISTCHURCH AKAROA ROAD CATONS CV           4
9   CRANFORD ST              FRASER ST           4
10  GEBBIES PASS ROAD        CHARTERIS BAY ROAD  4
11  MARSHLAND ROAD           HAWKINS ROAD        4
12  MARSHLAND ROAD           PRESTONS ROAD       4
13  MOORHOUSE AVENUE         SELWYN ST           4
14  POUND ROAD               SAVILLS ROAD        4
15  RICCARTON ROAD           DIVISION ST         4
16  SH 73                    BLENHEIM ROAD       4
17  SH 76                    COLOMBO ST          4
18  SH 76                    SELWYN ST           4
19  WAIRAKEI ROAD            GRAHAMS ROAD        4
20  BLENHEIM ROAD            CLARENCE ST         3
21  BLENHEIM ROAD            MATIPO ST           3
22  BLENHEIM ROAD            WHARENUI ROAD       3
23  CURLETTS ROAD            MAIN SOUTH ROAD     3
24  DYERS PASS ROAD          PENTRE TERRACE      3
25  EVANS PASS ROAD          OCEAN VIEW TERRACE  3
26  FERRY ROAD               FITZGERALD AVENUE   3
27  FERRY ROAD               MANNING PLACE       3
28  GOVERNORS BAY ROAD       OMARU ROAD          3
29  GOVERNORS BAY TEDDINGTON ALLANDALE LANE      3
30  GOVERNORS BAY TEDDINGTON BAMFORDS ROAD       3
⋮   ⋮                        ⋮                   ⋮
178 SH 74                    BREEZES ROAD        2
179 SH 74                    MAIN NORTH ROAD     2
180 SH 74                    PAGES ROAD          2
181 SH 74                    TUCKERS ROAD        2
182 SH 75                    HILLTOP HOTEL       2
183 SH 75                    KINLOCH ROAD S      2
184 SH 75                    NICHOLLS ROAD       2
185 SH 75                    TURRELLS ROAD       2
186 SH 75                    WAINUI MAIN ROAD    2
187 SH 75                    WHARF ROAD          2
188 SH 76                    MONTREAL ST         2
189 SH 76                    NUTTALL DRIVE       2
190 SH 76                    OPAWA ROAD          2
191 SH 76                    OPAWA ROAD E        2
192 SH 76                    WRIGHTS ROAD OBR    2
193 SHERBORNE ST             PURCHAS ST          2
194 SPARKS ROAD              HENDERSONS ROAD     2
195 SPRINGS ROAD             AWATEA ROAD         2
196 SPRINGS ROAD             MARSHS ROAD         2
197 ST ASAPH ST              COLOMBO ST          2
198 ST ASAPH STREET          ANTIGUA STREET      2
199 ST ASAPH STREET          DURHAM STREET SOUTH 2
200 STANMORE ROAD            HEREFORD STREET     2
201 SUMMIT ROAD              BOWENVALE TRACK     2
202 SUMMIT ROAD              PIPERS VALLEY ROAD  2
203 VICTORIA ST              PETERBOROUGH ST     2
204 WAINONI ROAD             BICKERTON ST        2
205 WHITELEIGH AVENUE        TROUP DRIVE         2
206 WILSONS ROAD             LISMORE ST          2
207 YALDHURST ROAD           CURLETTS ROAD       2

In [10]:
#Join count_all_year_df with original crash_df to return details for locations that had repeated accidents 
target_df <- inner_join(crash_df, count_all_year_df %>% 
                select(-3), by = c('crashLocation1', 'crashLocation2')) %>%
                mutate(lat = get_lat_lon(X,Y)$lat, lon=get_lat_lon(X,Y)$lon)
                    
target_df %>% head()

  X       Y       OBJECTID advisorySpeed areaUnitID bicycle bridge bus
1 1569069 5185262 124814   NA            588102     0       NA     0
2 1564295 5182423 128459   NA            589602     0        0     0
3 1570878 5180886 128938   NA            591700     0        0     0
4 1572933 5184220 129062   NA            592702     0        0     0
5 1570500 5178327 129113   NA            594600     0       NA     0
6 1574466 5184474 129153   NA            590505     0       NA     0
  carStationWagon cliffBank ⋯ truck unknownVehicleType urban vanOrUtility
1 2               NA        ⋯ 0     0                  Open  0
2 2                0        ⋯ 0     0                  Urban 0
3 3                0        ⋯ 0     0                  Urban 0
4 1                0        ⋯ 0     0                  Urban 0
5 2               NA        ⋯ 0     0                  Urban 1
6 1               NA        ⋯ 0     0                  Urban 0
  vehicle waterRiver weatherA weatherB lat       lon
1 NA      NA         Fine     Null     -43.48492 172.6175
2  0       0         Fine     Null     -43.51027 172.5583
3  0       0         Fine     Null     -43.52440 172.6396
4  0       0         Fine     Null     -43.49446 172.6652
5 NA      NA         Fine     Null     -43.54742 172.6348
6 NA      NA         Fine     Null     -43.49222 172.6842

In [11]:
#Calculate frequency for factor columns
col_freq_df <- target_df %>% select(-c(X,Y,OBJECTID, areaUnitID,crashFinancialYear,crashDirectionDescription,crashLocation1,crashLocation2,crashRoadSideRoad,crashSeverity,
                                        crashYear,debris,directionRoleDescription,ditch,fatalCount,fence,houseOrBuilding,intersection,meshblockId,minorInjuryCount,
                                        objectThrownOrDropped,otherObject,otherVehicleType,overBank,parkedVehicle,pedestrian,phoneBoxEtc,postOrPole,region,roadCharacter,
                                        schoolBus,seriousInjuryCount,suv,taxi,tlaId,tlaName,unknownVehicleType,lat,lon))
all_columns = list()
for(i in 1:ncol(col_freq_df))
{
    df <- na.omit(col_freq_df[i])
    df
    new_df <- df %>%
                group_by(df[1]) %>%
                tally() %>%
                mutate(percent=round(100*n/sum(n))) %>%
                arrange(desc(percent))
    colnames(new_df)[1] <- "value"  
    colnames(new_df)[2] <- "count"         
    new_df <- cbind(name = colnames(col_freq_df[i]), new_df)
    all_columns[[i]] <- new_df
}
all_columns

[[1]]
           name value count percent
1 advisorySpeed    35    43      51
2 advisorySpeed    45    11      13
3 advisorySpeed    65    10      12
4 advisorySpeed    25     9      11
5 advisorySpeed    55     6       7
6 advisorySpeed    30     2       2
7 advisorySpeed    75     2       2
8 advisorySpeed    20     1       1

[[2]]
     name value count percent
1 bicycle     0  2451      92
2 bicycle     1   201       8
3 bicycle     2     3       0
4 bicycle     4     1       0

[[3]]
    name value count percent
1 bridge     0   677      99
2 bridge     1     4       1

[[4]]
  name value count percent
1  bus     0  2613      98
2  bus     1    43       2

[[5]]
             name value count percent
1 carStationWagon     1  1263      48
2 carStationWagon     2   866      33
3 carStationWagon     0   377      14
4 carStationWagon     3   122       5
5 carStationWagon     4    23       1
6 carStationWagon     5     3       0
7 carStationWagon     6     2       0

[[6]]
       name value count percent
1 cliffBank     0   600      88
2 cliffBank     1    80      12
3 cliffBank     2     1       0

[[7]]
                name value count percent
1 crashSHDescription    No  1999      75
2 crashSHDescription   Yes   657      25

[[8]]
      name     value count percent
1 flatHill      Flat  2357      89
2 flatHill Hill Road   284      11
3 flatHill      Null    15       1

[[9]]
       name value count percent
1 guardRail     0   649      95
2 guardRail     1    31       5
3 guardRail     2     1       0

[[10]]
     name              value count percent
1 holiday Christmas New Year    55      42
2 holiday             Easter    31      23
3 holiday    Queens Birthday    27      20
4 holiday     Labour Weekend    19      14

[[11]]
  name value count percent
1 kerb     0   661      97
2 kerb     1    20       3

[[12]]
   name      value count percent
1 light Bright sun  1107      42
2 light       Dark   756      28
3 light   Overcast   678      26
4 light   Twilight   107       4
5 light    Unknown     8       0

[[13]]
   name value count percent
1 moped     0  2614      98
2 moped     1    42       2

[[14]]
        name value count percent
1 motorcycle     0  2500      94
2 motorcycle     1   151       6
3 motorcycle     2     5       0

[[15]]
           name value count percent
1 NumberOfLanes     2  1652      62
2 NumberOfLanes     4   473      18
3 NumberOfLanes     3   221       8
4 NumberOfLanes     6   160       6
5 NumberOfLanes     5    78       3
6 NumberOfLanes     1    54       2
7 NumberOfLanes     7     3       0
8 NumberOfLanes     8     4       0

[[16]]
      name    value count percent
1 roadLane    2-way  2334      88
2 roadLane    1-way   311      12
3 roadLane     Null     2       0
4 roadLane Off road     9       0

[[17]]
         name    value count percent
1 roadSurface   Sealed  2652     100
2 roadSurface Unsealed     4       0

[[18]]
       name value count percent
1 roadworks     0   677      99
2 roadworks     1     3       0
3 roadworks     2     1       0

[[19]]
         name value count percent
1 slipOrFlood     0   680     100
2 slipOrFlood     1     1       0

[[20]]
        name value count percent
1 speedLimit    50  1357      51
2 speedLimit    60   538      20
3 speedLimit    70   270      10
4 speedLimit    80   277      10
5 speedLimit   100   186       7
6 speedLimit    30    18       1
7 speedLimit    10     1       0
8 speedLimit    40     2       0

[[21]]
         name value count percent
1 strayAnimal     0   681     100

[[22]]
         name value count percent
1 streetLight  Null  1295      49
2 streetLight    On   669      25
3 streetLight   Off   476      18
4 streetLight  None   216       8

[[23]]
                 name value count percent
1 temporarySpeedLimit    30    46      63
2 temporarySpeedLimit    60    11      15
3 temporarySpeedLimit    50    10      14
4 temporarySpeedLimit    40     2       3
5 temporarySpeedLimit    70     2       3
6 temporarySpeedLimit    10     1       1
7 temporarySpeedLimit    80     1       1

[[24]]
            name           value count percent
1 trafficControl Traffic Signals   856      32
2 trafficControl         Unknown   799      30
3 trafficControl        Give way   420      16
4 trafficControl             Nil   428      16
5 trafficControl            Stop   153       6

[[25]]
           name value count percent
1 trafficIsland     0   629      92
2 trafficIsland     1    52       8

[[26]]
         name value count percent
1 trafficSign     0   621      91
2 trafficSign     1    59       9
3 trafficSign     2     1       0

[[27]]
   name value count percent
1 train     0   681     100

[[28]]
  name value count percent
1 tree     0   583      86
2 tree     1    98      14

[[29]]
   name value count percent
1 truck     0  2450      92
2 truck     1   198       7
3 truck     2     8       0

[[30]]
   name value count percent
1 urban Urban  2193      83
2 urban  Open   463      17

[[31]]
          name value count percent
1 vanOrUtility     0  2229      84
2 vanOrUtility     1   404      15
3 vanOrUtility     2    22       1
4 vanOrUtility     3     1       0

[[32]]
     name value count percent
1 vehicle     0   669      98
2 vehicle     1    12       2

[[33]]
        name value count percent
1 waterRiver     0   678     100
2 waterRiver     1     3       0

[[34]]
      name         value count percent
1 weatherA          Fine  2261      85
2 weatherA    Light rain   266      10
3 weatherA    Heavy rain    58       2
4 weatherA   Mist or Fog    39       1
5 weatherA          Null    28       1
6 weatherA Hail or Sleet     1       0
7 weatherA          Snow     3       0

[[35]]
      name       value count percent
1 weatherB        Null  2583      97
2 weatherB Strong wind    41       2
3 weatherB       Frost    32       1

In [33]:
# Find number of changes to variables over 10 years. These will be the number of unique values for a specific variable for each crash location 1 and 2

# Number of changes for advisory speed
advsspeed_changes <- target_df  %>% group_by(crashLocation1,crashLocation2)  %>%  summarise(num_advsspeed = length(unique(advisorySpeed)))
arrange(advsspeed_changes , desc(advsspeed_changes$num_advsspeed))  %>%  head(n=10)

# Check manually

check_df <- target_df  %>% filter(crashLocation1 == 'DYERS PASS ROAD' & crashLocation2 == 'SUMMIT ROAD')  %>%  select(crashLocation1,crashLocation2,advisorySpeed)
check_df

# Number of changes for weatherA
weather_changes <- target_df  %>% group_by(crashLocation1,crashLocation2)  %>%  summarise(num_weather = length(unique(weatherA)))
arrange(weather_changes , desc(weather_changes$num_weather))  %>%  head(n=10)

# Check manually

check_df2 <- target_df  %>% filter(crashLocation1 == 'MARSHS ROAD' & crashLocation2 == 'FOUNTAINS ROAD')  %>%  select(crashLocation1,crashLocation2,weatherA)
check_df2

`summarise()` has grouped output by 'crashLocation1'. You can override using
the `.groups` argument.

   crashLocation1           crashLocation2      num_advsspeed
1  DYERS PASS ROAD          SUMMIT ROAD         6
2  DYERS PASS ROAD          PENTRE TERRACE      4
3  GEBBIES PASS ROAD        SUMMIT ROAD         4
4  DYERS PASS ROAD          HACKTHORNE ROAD     3
5  GOVERNORS BAY ROAD       OMARU ROAD          3
6  GOVERNORS BAY ROAD       SANDY BEACH ROAD    3
7  GOVERNORS BAY TEDDINGTON ALLANDALE LANE      3
8  MARSHS ROAD              FOUNTAINS ROAD      3
9  PARK TERRACE             CRESSY TERRACE      3
10 POUND ROAD               MCLEANS ISLAND ROAD 3

   crashLocation1  crashLocation2 advisorySpeed
1  DYERS PASS ROAD SUMMIT ROAD    25
2  DYERS PASS ROAD SUMMIT ROAD    NA
3  DYERS PASS ROAD SUMMIT ROAD    35
4  DYERS PASS ROAD SUMMIT ROAD    35
5  DYERS PASS ROAD SUMMIT ROAD    65
6  DYERS PASS ROAD SUMMIT ROAD    NA
7  DYERS PASS ROAD SUMMIT ROAD    35
8  DYERS PASS ROAD SUMMIT ROAD    35
9  DYERS PASS ROAD SUMMIT ROAD    NA
10 DYERS PASS ROAD SUMMIT ROAD    NA
11 DYERS PASS ROAD SUMMIT ROAD    NA
12 DYERS PASS ROAD SUMMIT ROAD    NA
13 DYERS PASS ROAD SUMMIT ROAD    NA
14 DYERS PASS ROAD SUMMIT ROAD    NA
15 DYERS PASS ROAD SUMMIT ROAD    NA
16 DYERS PASS ROAD SUMMIT ROAD    NA
17 DYERS PASS ROAD SUMMIT ROAD    NA
18 DYERS PASS ROAD SUMMIT ROAD    NA
19 DYERS PASS ROAD SUMMIT ROAD    NA
20 DYERS PASS ROAD SUMMIT ROAD    NA
21 DYERS PASS ROAD SUMMIT ROAD    NA
22 DYERS PASS ROAD SUMMIT ROAD    NA
23 DYERS PASS ROAD SUMMIT ROAD    45
24 DYERS PASS ROAD SUMMIT ROAD    NA
25 DYERS PASS ROAD SUMMIT ROAD    45
26 DYERS PASS ROAD SUMMIT ROAD    NA
27 DYERS PASS ROAD SUMMIT ROAD    NA
28 DYERS PASS ROAD SUMMIT ROAD    NA
29 DYERS PASS ROAD SUMMIT ROAD    NA
30 DYERS PASS ROAD SUMMIT ROAD    NA
⋮  ⋮               ⋮              ⋮
36 DYERS PASS ROAD SUMMIT ROAD    NA
37 DYERS PASS ROAD SUMMIT ROAD    35
38 DYERS PASS ROAD SUMMIT ROAD    NA
39 DYERS PASS ROAD SUMMIT ROAD    NA
40 DYERS PASS ROAD SUMMIT ROAD    NA
41 DYERS PASS ROAD SUMMIT ROAD    NA
42 DYERS PASS ROAD SUMMIT ROAD    NA
43 DYERS PASS ROAD SUMMIT ROAD    NA
44 DYERS PASS ROAD SUMMIT ROAD    NA
45 DYERS PASS ROAD SUMMIT ROAD    NA
46 DYERS PASS ROAD SUMMIT ROAD    35
47 DYERS PASS ROAD SUMMIT ROAD    35
48 DYERS PASS ROAD SUMMIT ROAD    NA
49 DYERS PASS ROAD SUMMIT ROAD    NA
50 DYERS PASS ROAD SUMMIT ROAD    35
51 DYERS PASS ROAD SUMMIT ROAD    75
52 DYERS PASS ROAD SUMMIT ROAD    NA
53 DYERS PASS ROAD SUMMIT ROAD    35
54 DYERS PASS ROAD SUMMIT ROAD    NA
55 DYERS PASS ROAD SUMMIT ROAD    NA
56 DYERS PASS ROAD SUMMIT ROAD    NA
57 DYERS PASS ROAD SUMMIT ROAD    25
58 DYERS PASS ROAD SUMMIT ROAD    NA
59 DYERS PASS ROAD SUMMIT ROAD    NA
60 DYERS PASS ROAD SUMMIT ROAD    NA
61 DYERS PASS ROAD SUMMIT ROAD    35
62 DYERS PASS ROAD SUMMIT ROAD    NA
63 DYERS PASS ROAD SUMMIT ROAD    NA
64 DYERS PASS ROAD SUMMIT ROAD    NA
65 DYERS PASS ROAD SUMMIT ROAD    NA

`summarise()` has grouped output by 'crashLocation1'. You can override using
the `.groups` argument.

   crashLocation1    crashLocation2    num_weather
1  MARSHS ROAD       FOUNTAINS ROAD    5
2  SH 1S             DICKEYS ROAD      5
3  SH 1S             SAWYERS ARMS ROAD 5
4  ALDWINS ROAD      LINWOOD AVENUE    4
5  BLENHEIM ROAD     WHARENUI ROAD     4
6  DYERS PASS ROAD   SUMMIT ROAD       4
7  GEBBIES PASS ROAD SUMMIT ROAD       4
8  MARSHLAND ROAD    BRIGGS ROAD       4
9  MOORHOUSE AVENUE  MADRAS ST         4
10 MOORHOUSE AVENUE  MANCHESTER ST     4

   crashLocation1 crashLocation2 weatherA
1  MARSHS ROAD    FOUNTAINS ROAD Fine
2  MARSHS ROAD    FOUNTAINS ROAD Light rain
3  MARSHS ROAD    FOUNTAINS ROAD Fine
4  MARSHS ROAD    FOUNTAINS ROAD Fine
5  MARSHS ROAD    FOUNTAINS ROAD Fine
6  MARSHS ROAD    FOUNTAINS ROAD Heavy rain
7  MARSHS ROAD    FOUNTAINS ROAD Light rain
8  MARSHS ROAD    FOUNTAINS ROAD Mist or Fog
9  MARSHS ROAD    FOUNTAINS ROAD Heavy rain
10 MARSHS ROAD    FOUNTAINS ROAD Snow
11 MARSHS ROAD    FOUNTAINS ROAD Fine

In [8]:
#    Title: NZTM-WGS84(NZGD2000) converter
#    Author: mkennedy
#    Date: Feb 16, 2012 at 2:32
#    Availability: https://gis.stackexchange.com/questions/20389/converting-nzmg-or-nztm-to-latitude-longitude-for-use-with-r-map-library/20401#20401

#install.packages("proj4")
library(proj4)
get_lat_lon <- function(x,y)
{
    proj4string <- "+proj=tmerc +lat_0=0 +lon_0=173 +k=0.9996 +x_0=1600000 +y_0=10000000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs"
    #proj4string <- "+proj=tmerc +lat_0=0.0 +lon_0=173.0 +k=0.9996 +x_0=1600000.0 +y_0=10000000.0 +datum=WGS84 +units=m"
    # Source data
    xy <- data.frame(x, y)

    # Transformed data
    pj <- project(xy, proj4string, inverse=TRUE)
    latlon <- data.frame(lat=pj$y, lon=pj$x)
    return(latlon)
}
lat_lon <- get_lat_lon(1562170,5178795)
lat_lon
lat_lon <- get_lat_lon(1560760,5178564)
lat_lon
lat_lon <- get_lat_lon(1561689,5178744)
lat_lon

Installing package into 'C:/Users/migsm/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'proj4' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'proj4'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\migsm\AppData\Local\R\win-library\4.2\00LOCK\proj4\libs\x64\proj4.dll to C:\Users\migsm\AppData\Local\R\win-library\4.2\proj4\libs\x64\proj4.dll: Permission denied"
Warning message:
"restored 'proj4'"

The downloaded binary packages are in
	C:\Users\migsm\AppData\Local\Temp\RtmpQVlVLq\downloaded_packages

  lat       lon
1 -43.54283 172.5317

  lat       lon
1 -43.54484 172.5143

  lat       lon
1 -43.54327 172.5258

In [120]:
#Plotting interactive map using leaflet
#install.packages("sp")
#install.packages("htmlwidgets")
#install.packages("IRdisplay")
library(sp)
library(leaflet)
library(htmlwidgets)
library(IRdisplay)
df <- target_df %>%
        select(lat,lon,trafficControl)
df <- na.omit(df)
event_palette <- colorFactor( palette="RdYlBu", domain=df$trafficControl, na.color="transparent")

# Prepare the text for the tooltip:
hover_text <- paste(
   "TrafficControl: ", df$trafficControl, "<br/>",
   "Latitude: ", df$lat, "<br/>",
   "Longitude: ", df$lon, "<br/>") %>%
  lapply(htmltools::HTML)
m <- leaflet(df) %>% 
  addTiles()  %>% 
  setView( lat=-43.5, lng=172.6 , zoom=10) %>%
  addCircleMarkers(~lon, ~lat, 
    fillColor = ~event_palette(trafficControl), fillOpacity = 0.7, color="#af4343", radius=8, stroke=FALSE,
    label = hover_text,
    labelOptions = labelOptions( style = list("font-weight" = "normal", padding = "3px 8px"), textsize = "13px", direction = "auto")
  ) %>%
  addLegend(pal=event_palette, values=~trafficControl, opacity=0.9, title = "trafficControl", position = "bottomright" )
saveWidget(m, 'crash_data.html', selfcontained = FALSE)
print("See crash_data.html in current directory")
display_html('<iframe src="crash_data.html" width=1000, height=1000></iframe>')

[1] "See crash_data.html in current directory"